:root {
  --primary-color: #5865f2;
  --secondary-color: #23272a;
  --secondary-color-light: #2C2F33;
  --primary-color-light: #5663F7;
  --premium-color: #FFB229;
  }

/* header {
  display: none;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  display: inline-flexbox;
  background-color: var(--primary-color);
  padding: 30px 10%;
  } */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Open Sans';
  background: var(--secondary-color);
  }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}




button {
  background-color: var(--secondary-color);
  border: none;
  color: white;
  padding: 9px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Poppins';
  transition: all 0.3s ease 0s;
  text-decoration: none;
  }

button:hover {
  background-color: var(--secondary-color-light);
}

@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

body {
	margin: 0;
	background: var(--secondary-color);
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}


.wrapper{
  width: 420px;
  padding: 50px 30px;
  position: absolute;
  bottom: 50px;
  right: 0;
  overflow: hidden;
}
#show-toast{
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  background-color: #101020;
  color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
}
#toast{
  width: 380px;
  height: 80px;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(75, 50, 50, 0.05);
  border-left: 8px solid #2F86EB;
  border-radius: 7px;
  display: grid;
  grid-template-columns: 1.2fr 6fr 0.5fr;
  transform: translate(400px);
  transition: 1s;
}
.container-1,.container-2{
  align-self: center;
}
.container-1 i{
  font-size: 40px;
  color: #2F86EB;
}
.container-2 p:first-child{
  color: #101020;
  font-weight: 600;
  font-size: 16px;
}
.container-2 p:last-child{
  font-size: 12px;
  color: #656565;
  font-weight: 400;
}
#toast button{
  align-self: flex-start;
  font-size: 25px;
  background: transparent;
  line-height: 0;
  color: #656565;
  cursor: pointer;
}

code {
  font-family: 'Poppins', sans-serif;
  font-size: 0.90rem;
}

/* Code in text */
p > code,
li > code,
dd > code,
td > code {
  background: var(--secondary-color-light);
  word-wrap: break-word;
  box-decoration-break: clone;
  padding: .1rem .3rem .2rem;
  border-radius: 5px;
  color: var(--primary-color-light);
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
}

.typewriter-effect {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  font-weight: bold;
  vertical-align: top;
  text-align: center;
  color: #5865f2;
  font-family: 'Poppins';
}

.typewriter-effect > .text {
  max-width: 0;
  animation: typing 3s steps(var(--characters)) forwards;
  white-space: nowrap;
  overflow: hidden;
}

.typewriter-effect:after {
  content: " |";
  animation: blink 1s infinite;
  animation-timing-function: step-end;
}

@keyframes typing {
  75%,
  100% {
    max-width: calc(var(--characters) * 1ch);
  }
}

@keyframes blink {
  0%,
  75%,
  100% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');


li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header{
  border-bottom: 1px solid #E2E8F0;
  position: sticky;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.5rem;
  position: sticky;
}


.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--primary-color-light);

}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
  justify-content: center; 
  border-radius: 10px;
  border: 2px solid #5663F7;
  padding: 10px;
}

.nav-link{
  font-family: 'Work Sans' sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary-color);
  justify-content: center;
}

.logo {
  width: 58px;
  border-radius: 40px;
  margin-left: 5px;
  margin-top: 12px;
  border: 4px solid #23272A;
  text-decoration: none;
  top: 1px;
  left: 1px;
  position: absolute;
  right:300px;
  cursor: pointer;
}

.nav-link:hover{
  text-shadow: 0rem 0.5rem 0.5rem black;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #482ff7;
}

/* 768 */

@media only screen and (max-width: 768px) {
  .content-table {
    min-width: none;
    margin: 5px;
  }
  .content-table tbody tr code {
    font-size: 0.75rem;
  }
  .content-table tbody tr {
    font-size: 0.75rem;
  }
  .nav-menu {
      top: 0;
      position: fixed;
      overflow: hidden;
      position: fixed;
      right: -100%;
      top: 5rem;
      flex-direction: column;
      background-color: var(--secondary-color-light);
      width: 100%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow:
          1rem 1rem 1rem black;
  }
  .nav-menu.active {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    left: 0;
  }

  @keyframes blink {
    0%,
    75%,
    100% {
      opacity: 0;
    }
    25% {
      opacity: 0;
    }
  }

  .logo {
    width: 53px;
    margin-top: 5px;
  }
  

  .nav-item {
      margin: 2rem 0;
  }

  .hamburger {
      display: block;
      color: var(--primary-color);
      cursor: pointer;
      box-shadow: 1rem 1rem 1rem var(--secondary-color);
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
    color: var(--primary-color);
}

  .hamburger.active .bar:nth-child(1) {
      color: var(--primary-color);
      transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
      color: var(--primary-color);
      transform: translateY(-8px) rotate(-45deg);
  }

}

:target {
  border-radius: 0.5rem;
  background-color: var(--primary-color);
}


.content-table {
  border-collapse: collapse;
  margin: 1.5em;
  font-size: 0.9em;
  min-width: 300px;
  font-family: 'Poppins', sans-serif, monospace;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 3px 8px 8px black;
}

.content-table thead tr {
  background-color: var(--primary-color);
  color: black;
  text-shadow: 3px 3px 10px black;
  text-align: auto;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid grey;
  color: white;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: var(--secondary-color)
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid var(--primary-color);
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: var(--secondary-color-light);
}
